<link href="~/assets/src/css/select2.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/assets/src/scss/style.css">
<!-- date picker plugin -->
<link rel="stylesheet" href="~/assets/src/css/bootstrap-datepicker.min.css" />
<div class="app-layout">
    <div class="alert-custom" style="display:none;">
        <!-- use class for different alerts like (alert-success, alert-danger, alert-warning, alert-primary) -->
        <!-- Alert content will be dynamically inserted based on the alert type -->
    </div>
    <div class="title-container">
        <div class="current-back">
            <a href="/Home/Index" class="btn btn-back-icon">
                <span class="sprite-icons back-violet"></span>
            </a>
            <p class="title-primary">Change User Password</p>
        </div>
        <div class="button-group">
            <button class="btn btn-transparent-danger" id="resetButton">reset All</button>
            <a href="/Home/Index" class="btn btn_primary_outline_md">Cancel</a>
        </div>
    </div>

    <div class="row g-0">
        <div class="col-lg-12 col-md-12">
            <div class="vertical-tab-content">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                         aria-labelledby="v-pills-home-tab" tabindex="0">
                        <form id="firstTab">
                            <div class="vertical-tabs-content-fixed-layout form-body ">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="row">

                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label for="fname" class="form-label">
                                                        Old Password
                                                        <sup>*</sup>
                                                    </label>
                                                    <input type="text" class="form-control" type="password"
                                                           placeholder="Enter Old Password" id="oldpwd" name="oldpwd" maxlength="50" required>
                                                    <span id="oldpwd-error" class="input_error_msg"></span>
                                                </div>
                                            </div>

                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label for="mname" class="form-label">
                                                        New Password
                                                        <sup>*</sup>
                                                     </label>
                                                    <input type="text" class="form-control" type="password"
                                                           placeholder="Enter New Password" id="newpwd" name="newpwd" maxlength="50">
                                                    
                                                    <span id="newpwd-error" class="input_error_msg"></span>
                                                </div>
                                            </div>

                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label for="lname" class="form-label">
                                                        Confirm Password
                                                        <sup>*</sup>
                                                    </label>
                                                    <input type="text" class="form-control" type="password"
                                                           placeholder="Enter Confirm Password" id="Confirmpwd" name="Confirmpwd" maxlength="50" required>
                                                    <span id="Confirmpwd-error" class="input_error_msg"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-footer">
                                <button type="button" class="btn btn_primary" id="Savechangepwd">
                                    Save</>
                                </button>
                            </div>
                        </form>

                    </div>

                  

                </div>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    @*  <script src="~/assets/src/js/jquery.min.js"></script>
    <script src="~/assets/src/js/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script> *@
    <script src="~/assets/src/js/select2.min.js"></script>
    <script src="~/assets/src/custom-js/script.js"></script>
    <script src="~/assets/src/custom-js/select2.js"></script>
    <script src="~/application/js/user/user.js"></script>
    <!-- date picker plugins -->
    <!-- date picker custom js file -->
 
}